{% extends "modeloClientes.html" %}
{% block title %}Avaliações dos professores{% endblock %}

{% block content %}
<h2>{{ erro }}</h2>
<p></p>
<h2></h2>

<form action= "#" method="post">
  {% for l in materias %}
    <h3>Matéria {{l[0]}}</h3>
    {% set total = namespace(value=0) %}
    {% for i in aula %}
      {% if i[5]==l[0] %}
        <div class="card">
          <div class="card-body">
            <h6 class="card-text">Data: {{ datas[i[3]] }}</h6>
            <h6 class="card-text">Aluno: {{i[2]}}</h6>
            <h6 class="card-text">Horas de aula: {{ i[4]/3600 }}</h6>
            {% set total.value = total.value+i[4] %}
          </div>
        </div>
        <p></p>
      {% endif %}
    {% endfor %}
    <div class="card">
      <div class="card-body">
        <h6 class="card-text">Total de horas: {{total.value/3600}}</h6>
      </div>
    </div>
  {% endfor %}
<form>

{% endblock %}