{% extends "modelo.html" %}
{% block title %}Pagina Inicial{% endblock %}

{% block content %}
<p></p>
<div class="card card-body">
  <div class="row g-3 align-items-center">
    <div class="col-md">
      <ul class="list-unstyled">
        <li><strong>Serviços inclusos na criação do site institucional:</strong>
          <ul>
            <li>Análise da situação atual e mercadológica do cliente</li>
            <li>Criação do briefing e wireframe do site</li>
            <li>Criação do layout do site</li>
            <li>Emplementar o site no servidor</li>
          </ul>
        </li>
        <li><strong>Serviços inclusos na manutenção do servidor:</strong>
          <ul>
            <li>Dominio personalizado</li>
            <li>Certificado SSL</li>
            <li>Largura de banda ilimitada</li>
            <li>Espaço de armazenamento de 10GB</li>
            <li>Videos de até 1 hora corrida*</li>
          </ul>
        </li>
      </ul>
    </div> 
    <div class="col-md"> 
      <table>
        <tbody>
          <tr>
            <td class="align-middle"><strong>Valor à vista:</strong> 3159.00 R$</td>
          </tr>
        </tbody>
      </table>
    </div>   
  </div>
</div>
<p></p>
<div>
  <div class="row">
    <div class="col-md">
      <div class="d-grid gap-2">
        <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#card1" aria-expanded="true" aria-controls="collapseWidthExample">
          Plano Ouro
        </button>
      </div>
      <div class="collapse multi-collapse show" id="card1">
        <div class="card card-body">
          <ul class="list-unstyled">
            <li><strong>Serviços inclusos no plano bronze:</strong>
              <ul>
                <li>Suporte ilimitado (dentro do horário comercial)</li>
                <li>Mudança de informaçoes presente no site (Uma vez por mês)</li>
                <li>Estatística de acesso (Google Analytcs)</li>
                <li>Otimização do SEO para o site (conectar as feramentas de pesquisas do google)</li>
              </ul>
            </li>
            <p></p>
            <p></p>
            <li><strong>Serviços inclusos no plano prata:</strong>
              <ul>
                <li>Criação de um blog</li>
                <li>2 publicaçoes por mês no blog*</li>
                </ul>
            </li>
            <p></p>
            <p></p>
            <li><strong>Serviços oferecidos no plano Ouro:</strong>
              <ul>
                <li>+2 publicaçoes por mês no blog*</li>
                <li>Campanhas de ads pela plataforma no Google Ads</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="collapse multi-collapse show" id="card1">
        <div class="card card-body" style="height: 340px;">
          <p class="blockquote text-center"><strong>Valor à vista do plano:</strong> 3.084,00R$ ao ano</p>
          <p class="blockquote text-center">(Equivalente a 257,00R$ ao mês)</p>
          <p class="blockquote text-center">+</p>
          <p class="blockquote text-center">997,90R$ ADS</p>
          <p class="blockquote text-center">(ao mês de contratação)</p>
          <h4></h4>
          <a class="btn btn-warning btn-block" href="/leads/valor/ouro" role="button">Selecionar plano Ouro</a>
        </div>
      </div> 
    </div>
    <div class="col-md">
      <div class="d-grid gap-2">
        <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#card2" aria-expanded="false" aria-controls="collapseWidthExample">
          Plano Prata
        </button>
      </div>
      <div class="collapse multi-collapse show" id="card2">
        <div class="card card-body">
          <ul class="list-unstyled">
            <li><strong>Serviços inclusos no plano bronze:</strong>
              <ul>
                <li>Suporte ilimitado (dentro do horário comercial)</li>
                <li>Mudança de informaçoes presente no site (Uma vez por mês)</li>
                <li>Estatística de acesso (Google Analytcs)</li>
                <li>Otimização do SEO para o site (conectar as feramentas de pesquisas do google)</li>
              </ul>
            </li>
            <p></p>
            <p></p>
            <li><strong>Serviços oferecidos no plano prata:</strong>
              <ul>
                <li>Criação de um blog</li>
                <li>2 publicaçoes por mês no blog*</li>
                </ul>
            </li>
            <li></li>
          </ul>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
      </div>  
      <div class="collapse multi-collapse show" id="card2">
        <div class="card card-body" style="height: 340px;">
          <p class="blockquote text-center"><strong>Valor à vista do plano:</strong> 3.084,00R$ ao ano</p>
          <p class="blockquote text-center">(Equivalente a 257,00R$ ao mês)</p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <h4></h4>
          <h5></h5>
          <a class="btn btn-light btn-block" href="/leads/valor/prata" role="button">Selecionar plano prata</a>
        </div>
      </div>  
    </div>
    <div class="col-md">
      <div class="d-grid gap-2">
        <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#card3" aria-expanded="false" aria-controls="collapseWidthExample">
          Plano Bronze
        </button>
      </div>
      <div class="collapse multi-collapse show" id="card3">
        <div class="card card-body">
          <ul class="list-unstyled">
            <li><strong>Serviços oferecidos no plano bronze:</strong>
              <ul>
                <li>Suporte ilimitado (dentro do horário comercial)</li>
                <li>Mudança de informaçoes presente no site (Uma vez por mês)</li>
                <li>Estatística de acesso (Google Analytcs)</li>
                <li>Otimização do SEO para o site (conectar as feramentas de pesquisas do google)</li>
              </ul>
            </li>
            <li></li>
          </ul>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <h6></h6>
        </div>
        <div class="collapse multi-collapse show" id="card3">
        <div class="card card-body" style="height: 340px;">
          <p class="blockquote text-center"><strong>Valor à vista do plano:</strong> 1.206,00R$ ao ano</p>
          <p class="blockquote text-center">(Equivalente a 100,50R$ ao mês)</p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <h4></h4>
          <h5></h5>
          <a class="btn btn-secondary btn-block" href="/leads/valor/bronze" role="button">Selecionar plano bronze</a>
        </div>
      </div>
      </div>    
    </div>

  </div>


</div>

{% endblock %}

